#rename this file to .env
ADSBHUB_STATION_KEY='(aTmIWT=9,eTqt{y+p;cD%D5KK)Lf3gPocm<>7(;3X,EcO]#Ehzm2qjJVSP(Mc3^-~[q3$7T$XFCt9[BapODqVmxzP7!*]H#e+w#Njv(9L*N{=N}eM(og0o'
FEEDER_LAT=52.93175261082362
FEEDER_LON=8.755365857801612
FEEDER_TZ="Europe/Berlin"
FEEDER_ALT_M=50
ADSBX_UUID=0ea84fc4-9c0f-11ec-a5cb-0242ac110002
ADSBX_SITENAME=h2com#
